* {
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  margin: 0;
}

[popover="manual"] {
  position-area: bottom;
  margin: initial;
}

.popovers-animation {
  margin: 33vh 33vw;

  button {
    padding: 1rem 1.6rem;
    font-size: 1.2rem;
  }

  #popover-animated {
    position-area: end;
    margin: unset;

    padding: 1.6rem;
    background-color: hotpink;
    border: none;
    font-size: 1.2rem;

    &:popover-open {
      transform: translateY(0) scale(1);
      opacity: 1;

      @starting-style {
        transform: translateY(30px) scale(0);
        opacity: 0;
      }
    }

    transform: translateY(-50px);
    opacity: 0;
    transition: transform, opacity, display allow-discrete,
      overlay allow-discrete;
    transition-duration: 0.5s;

    transform-origin: top left;
  }
}
