<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>layout</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <header>
      <h1>HTML Workshop</h1>
      <nav>
        <a href="#">Register</a>
        <a href="#">About</a>
        <a href="#">Instructor</a>
        <a href="#">Testimonials</a>
      </nav>
    </header>
    <footer>
      <p>&copy;2025 HTML Workshop, LLC. All rights reserved.</p>
      <address>
        Contact:
        <p>+91 1234567890</p>
      </address>
    </footer>
  </body>
</html>
