*,
*::before,
*::after {
  box-sizing: border-box;

  /*
    by default its context-box;

    we have 
    - margin-box(takes outline & box-shadow space too)
    - border-box (border)
    - padding-box (scroll space too)
    - context-box (size of content based on display, 
      and width (intrinsic and extrinsic width)
      
      read this later - https://piccalil.li/blog/a-more-modern-css-reset/
  */
}

p {
  width: 30ch;
  font-size: 24px;
  line-height: 1.5;
}
