*,
*::before,
*::after {
  box-sizing: border-box;

  /*
    by default its context-box;

    we have 
    - margin-box(takes outline & box-shadow space too)
    - border-box (border)
    - padding-box (scroll space too)
    - context-box (size of content based on display, 
      and width (intrinsic and extrinsic width)
      
      read this later - https://piccalil.li/blog/a-more-modern-css-reset/
  */
}

#attribute-1 article p:first-of-type {
  color: red;
  font-size: 1.5em;
}

#attribute-1 [data-type="primary" i] {
  /* by default case sensitive 
  (if want in-sensitive add i)
  */
  font-size: 5rem;
  margin-bottom: 1vh;
}

#attribute-1 [data-type] {
  border: 2px solid red;
}

[href*="document"]::before {
  content: "catch-document";
}

[href^="my"]::before {
  content: "start-with";
}

[href$="pdf"]::after {
  content: "  ends";
}

div::selection {
  color: green;
  background: rgba(0, 128, 0, 0.467);
}

li::marker {
  color: red;
}

/* ul * {
  margin-top: 20px;
} */

ul * + * {
  margin-top: 10px;
}

li > a:hover {
  color: green;
}

section#attribute-1 {
  background-color: yellow;
}

section#attribute-section {
  background-color: rgb(151, 173, 151);
}
