* {
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  margin: 0;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.page > * {
  padding: 1rem;
}

.page > * {
  padding: 1rem;
}

.sidebar {
  background: var(--color-primary-x-light);
  outline: 1px solid var(--color-primary);
  flex-grow: 1;
  flex-basis: 12rem;
}

.content {
  flex-basis: 0;
  flex-grow: 2;
  min-width: 70%;
}

/* Extrinsic sizes on this page simulate the small viewport for you */
body {
  max-width: 50rem;
  min-height: unset;
  padding: 1rem;
  background: var(--color-off-white);
  margin: 1rem auto;
}

.page {
  background: white;
  border: 1px solid var(--color-stroke);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  place-content: stretch flex-start;
  align-self: stretch;
  align-items: stretch;

  /* apply this to flex-items */

  /* flex: initial */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

  /* direction: rtl; */
  /* writing-mode: vertical-rl; */

  /* flex: auto  
  (grow, shrink, basis)
    1 1 auto
  */

  /*
    
  flex: 1;
   1 1 0
  */

  /* flex: none (use when just
   need alignment but not flexible behaviour)
  */

  /* 
    items can be reordered 
  order: 2 
  */
}
